
body{
	background-color:  #0F1215;

}
.logo img{
width: 100%;
}
.logo{
	padding-top: 100px;
}
.title h3{

	color: #cda660;
}
.title p{
	color: white;
}
.title li{
	color: white;
}
.step img{
width: 60%;
margin-left: 20%;

}

.project h1{
color: #cda660;
 text-align: center;
}
.project h1 span{
color: white;
}
.project {
	margin-top: 30px;
}
.infographic h2{

color: #cda660;
  text-align: center;
}
.infographic h5{
color: white;
 text-align: center;
 font-size: larger;
}
.infographic span{
color: #cda660;
}
.infographic{


height: 900px;
	margin-top: 90px;
}


.comfirm{

	margin-left: auto;
	margin-right: auto;
}
.btnlist{
	margin-top: 90px;
padding-bottom: 90px;
}

.btn-default{
	width: 90%;
	color: #cda660;
	background-color: #0F1215;
}
@media (max-width: 768px) {
	.infographic{


height: 100%;
	margin-top: 90px;
}
.btntop{
	margin-top: 30px;
}
 .main_content{
 	margin-top: 60px;
 }
 .logo img{
width: 80%;
}
.logo{
	padding-top: 100px;
	text-align: center;
}


.project h1{


border-color:  #cda660;
color: #cda660;
 text-align: center;
}
.project h2{

	width: 80%;
color: white;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.project {
	margin-top: 30px;

}
}
